/* Global ===================== */
:root {
    --dark-blue: #363f5f;
    --dark-green: #adc0a7;
    --light-green: #49aa26;
    --light: #f0f2f5;
    --white: #ffffff;
    --green: #008000;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: var(--light);
    font-family:'Poppins', sans-serif;
}

/* Header ===================== */
header {
    background: var(--dark-green);
    padding: 2rem 0 2rem;
    text-align: center;
}

header h1{
    color: var(--light);
    font-size: 24px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}

.image {
    flex: 1;
    text-align: center;
}

.message {
    flex: 1;
    padding: 0 20px;
}

.message p {
    font-size: 20px;
    margin-bottom: 30px;
}

.message a {
    display: inline-block;
    background-color: var(--light-green);
    color: var(--white);
    font-size: 18px;
    padding: 10px 20px;
    border: var(--green);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: solid;
}

.message a:hover{
    background-color: var(--light-green);
    transition: 0.5s;
    opacity: 0.7;
}

/* Footer ===================== */

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);

    opacity: 0.6;
}

a {
    color: var(--light-green);
    text-decoration: none;
}

/* Resposive ===================== */
@media (max-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #confused{
        width: 80%;
        height: auto;
    }
}

@media (max-width: 412px) {
    html {
        font-size: 100%;
    }

    .message {
        flex: .8;
        padding: 0;
    }
    
    .message p {
        font-size: 16px;
        margin-bottom: 0px;
    }
    
    .image {
        flex: .5;
        text-align: center;
    }

    #confused{
        width: 55%;
        height: auto;
    }
}