* {
    display: block;
    margin-bottom: 10px;
}

header {
    background: gray;
    padding: 2rem;
    text-align: center;
    color: #fff;
}

.invalid {
    border: 1px solid red;
}

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: gray;
    opacity: 0.6;
}